doctype html
html
  head
    title= title
  body
    h1= title

    a(href="/") Return to the homepage
    hr

    form(action="/update-cobj" method="POST")
      label Name
      input(type="text" name="name" required)
      br

      label Role
      input(type="text" name="role")
      br

      label Country
      input(type="text" name="country")
      br

      button(type="submit") Create Cricket Player
